@model IEnumerable<AppliedJob>


<div>
    <div>
        <h1 style="text-align: center;">Applicant List</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="max-width: none; max-height: none; width: 1120.33px; height: 532.736px;">
                <table class="table" style="">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(Model => Model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(Model => Model.ApplicantName)
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                               
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicantName)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>